<div *ngIf="!result">
<h2 class="page-header">Rule information in commit state</h2>
<form (submit)="onGetInfoSubmit()">
  <div class="col-md-4">
    <div class="form-group">
      <label>Rule id</label>
      <input type="text" [(ngModel)]="ruleId" name="ruleId" class="form-control">
    </div>
    <div class="form-group">
      <label>Commit id</label>
      <input type="text" [(ngModel)]="commitId" name="commitId" class="form-control">
    </div>
  </div>
  <div class="col-md-12">
  <input type="submit" class="btn btn-primary" value="Get rule information">
  </div>
</form>
</div>

<div *ngIf="result">
  <h2 class="page-header"> Rule {{ruleId}} information </h2>
  <ul class="list-group">
    <li class="list-group-item">Id: {{result.id}}</li>
    <li class="list-group-item">_ref: {{result._ref}}</li>
    <li class="list-group-item">Language: {{result.language}}</li>
    <li class="list-group-item">Last commit: getRuleLastCommit({{result.lastCommit}})</li>
    <li class="list-group-item">Blob: {{result.blob}}</li>
    <li class="list-group-item">Active: {{result.active}}</li>
  </ul>
  <a class="btn btn-primary" (click)="onGetInfoClick()">Get information about another rule</a>
</div>
