language: node_js
node_js:
  - "6"
before_install: sudo apt-get update -qq
# Install dependencies
install: npm install
#before_script:
# Run tests  
script: npm test
after_success:
  - npm run coveralls
#deploy:
