<h2 class="page-header">Remove car of application user </h2>
<form (submit)="onDeleteSubmit()">
  <div class="col-md-4">
    <div class="form-group">
      <label>Application user id</label>
      <input type="text" [(ngModel)]="userId" name="userId" class="form-control">
    </div>
    <div class="form-group">
      <label>Application user car id</label>
      <input type="text" [(ngModel)]="carId" name="carId" class="form-control">
    </div>
  </div>
  <div class="col-md-12">
  <input type="submit" class="btn btn-primary" value="Delete">
  </div>
</form>
