<div *ngIf="table">
<div class="row">
  <div class="col-md-6">
    <h2 class="page-header">Statistics list </h2>
  </div>
  <div *ngIf="total > 0" class="col-md-6">
    <div class="input-group input-group-sm input-group-left">
      <input type="text" class="form-control" name="search" [(ngModel)]="filter">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </div>
</div>

<p *ngIf="total == 0" class="lead"> Sorry :( <p>
<p *ngIf="total == 0" class="lead"> There are no statistics at the moment. <span class="glyphicon glyphicon-stats"></span></p>

<table *ngIf="total > 0" class="table table-striped table-hover">
  <thead>
    <tr>
      <th (click)="sort('id')">Server id
        <span class="glyphicon sort-icon" *ngIf="key == 'id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('requests')">Requests
        <span class="glyphicon sort-icon" *ngIf="key == 'requests'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('userCreate')">Created users
        <span class="glyphicon sort-icon" *ngIf="key == 'userCreate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('userDelete')">Deleted users
        <span class="glyphicon sort-icon" *ngIf="key == 'userDelete'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('carCreate')">Created cars
        <span class="glyphicon sort-icon" *ngIf="key == 'carCreate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('carDelete')">Deleted cars
        <span class="glyphicon sort-icon" *ngIf="key == 'carDelete'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('tripCreate')">Created trips
        <span class="glyphicon sort-icon" *ngIf="key == 'tripCreate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stats of statisticsList | orderBy: key : reverse | filter:filter | paginate: {itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{stats.id}}</td>
      <td>{{stats.requests}}</td>
      <td>{{stats.userCreate}}</td>
      <td>{{stats.userDelete}}</td>
      <td>{{stats.carCreate}}</td>
      <td>{{stats.carDelete}}</td>
      <td>{{stats.tripCreate}}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <a class="btn btn-primary" (click)="onChartClick()">Go to charts!</a>
</table>
</div>

<div *ngIf="!table">
  <div class="col-md-12">
    <h2 class="page-header">Statistics </h2>
  </div>
  <div class="col-md-6">
    <h3 class="page-header">Requests </h3>
  </div>
  <div style="display: block">
    <canvas baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-6">
    <h3 class="page-header">Users </h3>
  </div>
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChart1Data"
      [labels]="barChart1Labels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-6">
    <h3 class="page-header">Cars </h3>
  </div>
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChart2Data"
      [labels]="barChart2Labels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-6">
    <h3 class="page-header">Trips </h3>
  </div>
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChart3Data"
      [labels]="barChart3Labels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <a class="btn btn-primary" (click)="onTableClick()">Go to the table!</a>
</div>


