<div *ngIf="!result">
  <h2 class="page-header">Run selected rules and facts </h2>
  <form (submit)="onRunSubmit()">
    <div class="form-group">
      <label>Rules id</label>
      <input type="text" [(ngModel)]="rules" name="rules" class="form-control">
      <p class="help-block">Separate each id by a space</p>
    </div>
    <div class="form-group">
      <label>Facts</label>
      <textarea rows="5" [(ngModel)]="facts" name="facts" class="form-control"></textarea>
      <p class="help-block">Separate each fact by a '#'. A fact is a json with attributes: language and blob.</p>
    </div>
    <input type="submit" class="btn btn-primary" value="Run">
  </form>
</div>

<div *ngIf="result">
  <h2 class="page-header"> Results </h2>
  <ul class="list-group">
    <li *ngFor="let fact of result" class="list-group-item">{{fact}}</li>
  </ul>
  <a class="btn btn-primary" (click)="onRunClick()">Run different set of rules and facts</a>
</div>
